<html lang="en-US">
    
    <h1>HEADER SECTION</h1>
    <header>
        <h1>
            
                
                    <li> 0 : Hone </li>
                
            
                
            
                
                    <li> 2 : Hthree </li>
                
            
        </h1>
    </header>

    <body>
        
            <li> abc </li>
        
            <li> 123 </li>
        
            <li> 10.5 </li>
        
    </body>
    
    <h1>Footer Section</h1>
    <h2>footer</h2>

</html>